body {
  font: 1.2em / 1.5 sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 400px;
  align-items: ;
  
  & li {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: #fff;
    padding: 0.5em;
  }
}

ul > *{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

ul
