body {
  font: 1.2em / 1.5 sans-serif;
}
nav{

  & ul {
  list-style: none;
  padding: 0;
  height: 400px;
  margin: 0;
  display: flex;/*Torna a caixa flexivel*/
  flex-direction: row; /*Muda a direção dos itens da caixa*/
  justify-content: space-around; /*Alinha horizontalmente*/
  align-items: flex-start;/*Alinha verticalmente*/
  flex-wrap: wrap; /*Pula linha*/
  align-content: center;/*Alinhamento de linhas qndo wrap ativado*/
  gap: 1em;/*Espaço entre os itens*/
  }

  & a:link,
  & a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
  }
}

ul > :first-child{}